/*
 * Brand type. The live site uses UniversNext for HSBC, a licensed kit that is NOT rehosted here.
 * Every stack in styles.css names the live family first (univers-*), so a licensed drop-in wins.
 * Until then Noto Sans (SIL OFL 1.1, self-hosted, static per-weight instances) substitutes, one
 * alias family per live weight family, width-matched per weight with size-adjust and with vertical
 * metrics matched to Univers (ascent 95 / descent 25 per 100). Calibrated in the replica gate.
 */

/* stylelint-disable font-family-name-quotes */
@font-face {
  font-family: "HSBC Sub Thin";
  src: url("../fonts/noto-sans-latin-100.woff") format("woff");
  font-display: swap;
  size-adjust: 99.9%;
  ascent-override: 92.1%;
  descent-override: 25%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "HSBC Sub Ultra Light";
  src: url("../fonts/noto-sans-latin-200.woff") format("woff");
  font-display: swap;
  size-adjust: 96.5%;
  ascent-override: 95.3%;
  descent-override: 25.9%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "HSBC Sub Light";
  src: url("../fonts/noto-sans-latin-300.woff") format("woff");
  font-display: swap;
  size-adjust: 100.4%;
  ascent-override: 94.6%;
  descent-override: 24.9%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "HSBC Sub Regular";
  src: url("../fonts/noto-sans-latin-400.woff") format("woff");
  font-display: swap;
  size-adjust: 99.6%;
  ascent-override: 95.4%;
  descent-override: 25.1%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "HSBC Sub Medium";
  src: url("../fonts/noto-sans-latin-500.woff") format("woff");
  font-display: swap;
  size-adjust: 103.3%;
  ascent-override: 92%;
  descent-override: 24.2%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "HSBC Sub Bold";
  src: url("../fonts/noto-sans-latin-700.woff") format("woff");
  font-display: swap;
  size-adjust: 102.6%;
  ascent-override: 93.6%;
  descent-override: 24.4%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "HSBC Sub Italic";
  src: url("../fonts/noto-sans-latin-400-italic.woff") format("woff");
  font-style: italic;
  font-display: swap;
  size-adjust: 104.8%;
  ascent-override: 90.6%;
  descent-override: 23.9%;
  line-gap-override: 0%;
}
